{% extends 'layout.html.twig' %}

{% block title %}Commande n°{{ order.order_id }}
{% endblock %}

{% block content %}
	<div class="container col-12 col-md-8 col-lg-6">
		<h1 class="text-center">Commande validée</h1>
		{% if order %}
			<div class="alert alert-success text-center mx-auto">
				<h4>Commande n°
					{{ order.order_id }}</h4>
				<p>Référence de la commande :
					{{ order.reference }}</p>
				<p>Date de commande :
					{{ order.created_at|date('d/m/Y H:i:s') }}</p>
				<p class="fw-bold">Adresse de livraison :
					{{ order.name }}</p>
				<div>
					<h6>Détails de la commande</h6>
					{% set orderTotal = 0 %}
					{% for product in details %}
						{% set orderTotal = orderTotal + (product.price_product * product.quantity) %}
						<div class="row mb-4 d-flex justify-content-between align-items-center flex-fill">
							<div class="col-4 col-md-3 text-center mb-2">
								<img src="/{{ product.illustration }}" class="img-fluid rounded" alt="{{ product.product_name}}">
							</div>
							<div class="row-cols-sm-12 col-md-3 col-lg-3 col-xl-3">
								<h4 class="text-black mb-0">{{ product.product_name }}</h4>
							</div>
							<div class="row-cols-sm-1 col-md-3 col-lg-2 col-xl-2 offset-lg-1 ">
								<p class="mb-0">{{ (product.price_product / 100) | number_format(2, ',', '.') }}€</p>
								<p class="mb-0">x{{ product.quantity }}
									-
									<span class="fw-bold">{{ ((product.price_product * product.quantity) / 100) | number_format(2, ',', '.') }}€</span>
								</p>
							</div>
						{% endfor %}
						<div class="fs-3">Montant total :
							<h5 class="col-10 col-md-3 badge rounded-pill bg-success p-3">{{ (orderTotal / 100) | number_format(2, ',', '.') }}€</h5>
						</div>
					</div>
				</div>
				<p class="fst-italic">
					<small>Votre commande vous sera délivrée, une fois votre chèque/virement reçu à l'ordre:
						<span>myeshop</span>
					</small>, à l'adresse suivante:
					{{ order.firstname }}
					-
					{{order.lastname}}
					<br>
					{{ order.address }}
					<br>
					{{ order.postal }}
					{{ order.city }}
					<br>
				</p>

			</div>
			<div class="pt-4">
				<h6 class="mb-0">
					<a href="/product" class="text-body">
						<i class="fas fa-long-arrow-alt-left me-2"></i>Revenir sur la boutique</a>
				</h6>
			</div>
		</div>
	{% else %}
		<p>Aucune commande trouvée.</p>
	{% endif %}
</div>{% endblock %}
