{% extends "layout.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block content %}

	<div class="container p-0">
		<form method="post" class="col-12 col-md-5 rounded p-2 border border-secondary mx-auto shadow-sm my-4" action="/product/search">
			<div class="col-12 form-group d-flex">
				<div style="width:100%;" class="form-outline mx-auto " data-mdb-input-init>
					<input type="search" id="form1" name="product" class="form-control"/>
				</div>
				<button type="submit" class="btn btn-sm btn-primary ms-2">
					<i class="fas fa-search fs-5"></i>
				</button>
			</div>
		</form>
		<nav class="navbar navbar-expand-lg navbar-light bg-white p-1 m-0 fs-6 shadow-sm px-2 py-1">
			<div class="container-fluid p-0">
				<a class="navbar-brand text-uppercase fw-800" href="#">
					<span class="border-red pe-2 fs-4">Nos Produits</span>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav" aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fas fa-bars"></span>
				</button>
				<div class="collapse navbar-collapse fs-6" id="myNav">
					<div class="navbar-nav ms-auto">
						<a class="nav-link" aria-current="page" href="/product">Voir tout</a>
						{% for cat in getCategories() %}
							<a class="nav-link category-link" href="#{{ cat.name }}">{{ cat.name }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</nav>
		<div class="row">
			{% for product in products.data  %}
				<div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3 hoverable">
					<div class="product">
						<a href="/product/show?id={{ product.id }}">
							<img src="{{ product.illustration }}"/></a>
						<ul class="d-flex align-items-center justify-content-center list-unstyled icons">
							<li class="icon icon-show">
								<a href="/product/show?id={{ product.id }}">
									<span class="fas fa-expand-arrows-alt"></span>
								</a>
							</li>
							<li class="icon icon-1">
								<a href="">
									<span class="fas fa-shopping-bag"></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="tag bg-red fw-bolder">
						<small>{{product.category_names}}</small>
					</div>
					<div class="title pt-4 pb-1">
						<a href="/product/show?id={{ product.id }}">{{product.name}}
						</a>
					</div>
					<div class="d-flex align-content-center justify-content-center">
						{% for i in 1.. random(5) %}
							<span class="fas fa-star"></span>
						{% endfor %}
					</div>
					<div class="price">{{ product.price }}€</div>
				</div>
			{% endfor %}
		</div>
		<nav class="navbar col-12 p-0">
			<ul class="pagination m-auto border border-secondary shadow-sm rounded">
				{% if products.currentPage > 1 %}
					<li class="page-item">
						<a class="page-link" href="?page=1">&laquo;</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ products.currentPage - 1 }}">{{ products.currentPage - 1 }}</a>
					</li>
				{% endif %}

				<li class="page-item active">
					<span class="page-link">{{ products.currentPage }}</span>
				</li>

				{% if products.currentPage < products.totalPages %}
					<li class="page-item">
						<a class="page-link" href="?page={{ products.currentPage + 1 }}">{{ products.currentPage + 1 }}</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ products.totalPages }}">&raquo;</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var currentPath = window.location.pathname;

var categoryLinks = document.querySelectorAll('.category-link');
categoryLinks.forEach(function (link) {
var linkPath = link.getAttribute('href');
if (currentPath.startsWith(linkPath)) {
link.classList.add('active');
}
});
});
	</script>

{% endblock %}{% endblock %}
