{% extends "layout.html.twig" %}
{% block title %}
	Affichage d'un produit
{% endblock %}
{% block content %}
	<div class="container">
		
		<div class="row col-12 my-5 d-flex justify-content-around gap-2 medium" >
			
			<div style="height:auto; width:30%" class="p_img" >
				<img src="{{product.illustration}}" style="height:100%; width:100%;object-fit: cover;"  alt="{{product.name}}">
			</div>
			<div style="height:auto; width:65%" class="shadow-sm p-3 p_content">
				<h5 class="text-center">{{product.name}}</h5>
			
				<h6 class="my-4">Categorie : {{product.category_names}}</h6>
				<p class="mb-5">{{product.description}}</p>

				<div class="d-flex justify-content-between">
					<p> Prix: {{ (product.price/100)|number_format(2,",",".") }}€</p>
					<a href="" class="btn btn-success rounded py-2 px-3">Ajouter</a>
				</div> 
			</div>
			
		</div>		
	</div>
{% endblock %}
