{% extends "layout.html.twig" %}
{% block title %}Admin - Categories
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}
	<div class="container">
		<h1 class="text-center text-primary fw-bold col-12 col-md-6 mx-auto my-4  fw-bold bg-light border border-secondary p-4 shadow-sm">Gestion des produits</h1>
		<div class="row my-2">
			<div class="col-12 col-md-6 mx-auto">
				<a href="/" class="btn btn-primary btn-sm mb-4">Retour</a>
				<a href="/admin/product/create" class="btn btn-success btn-sm mb-4">Ajouter un produit</a>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nom</th>
							<th>Image</th>
							<th>Desciption</th>
							<th>Prix</th>
							<th>Stock</th>
							<th>Meilleur vente</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
							<tr>
								<td>{{ product.id }}</td>
								<td>{{ product.name }}</td>
								<td><img style="width:100px" class"img-fluid" src="{{ product.illustration}}" alt=""></td>
								<td>{{ product.description|slice(0,50) }}...</td>
								<td>{{ product.price }}</td>
								<td>{{ product.stock }}</td>
								<td>
									<form action="">
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="">
											<label class="form-check-label" for="flexSwitchCheckDefault"></label>
										</div>
									</form>
								</td>
								<td>
									<div class="d-flex">
										<a href="/admin/product/show?id={{ product.id }}" class="btn btn-info btn-sm" role="button">
											<i class="fa-regular fa-eye"></i>
										</a>
										<a href="/admin/product/update?id={{ product.id }}" class="btn btn-success btn-sm" role="button">
											<i class="fa-solid fa-pen-to-square"></i>
										</a>
										<a href="/admin/product/delete?id={{ product.id }}" class="btn btn-danger btn-sm" role="button" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
											<i class="fa-solid fa-delete-left"></i>
										</a>
									</div>
								</td>
							</tr>
						</td>
					</tbody>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div></div></div>{% block javascripts %}{% endblock %}{% endblock %}
