{% extends 'base.html.twig' %}
{% block title %}Admin - Modifier un produit
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block content %}
	<div class="container">
		<h1 class="text-center text-primary fw-bold col-12 col-md-6 mx-auto my-4  fw-bold bg-light border border-secondary p-4 shadow-sm">Modifier un produit</h1>
		{% for flashMessage in session.getFlashMessages() %}
			<div class="alert alert-{{ flashMessage.type }} text-dark fw-bold col-md-5 mx-auto mt-3 p-2 text-center" role="alert">
				<div class="col-12 d-flex justify-content-end">
					<button type="button" class="btn-close btn btn-sm btn-{{ flashMessage.type }}" data-bs-dismiss="alert" aria-label="Close">
						<span class="" aria-hidden="true"></span>
					</button>
				</div>
				<strong>{{ flashMessage.message }}</strong>
			</div>
			{{ session.remove('flashMessages') }}
		{% endfor %}
		<form id="product-form" class="col-12 col-md-10 col-lg-8 mx-auto my-2 row justify-content-center p-3 bg-light border border-secondary shadow-sm my-3" method="POST" enctype='multipart/form-data'>
			<div class="col-12 col-md-6 mx-auto mb-3">
				<label for="product-name">Nom du produit</label>
				<input type="text" id="product-name" name="name" class="form-control" value="{{product.name}}">
				<small id="product-nameMessage"></small>
			</div>
			<div class="col-12 col-md-6 mx-auto mb-3">
				<label for="product-price">Prix</label>
				<input type="number" id="product-price" name="price" class="form-control" value="{{product.price}}">
				<small id="product-priceMessage"></small>
			</div>
			<div class="col-8 mb-3">
				<label for="product-illustration">Illustration</label>
				<input type="file" id="product-illustration" name="illustration" class="form-control">
				<small id="product-illustrationMessage"></small>
				<input type="hidden" id="product-current-illustration" name="current-illustration" value="{{product.illustration}}">
			</div>
			<div class="col-4 mb-3">
				<img style="object-fit: contain;width: 220px; max-height:140px;" src="/{{product.illustration}}" alt="{{product.name}}" class="img-fluid d-block">
				<small class="fst-italic text-info fs-6">voici l'image actuelle de votre produit, vous pouvez la modifier si vous le souhaitez.</small>
			</div>
			<div class="col-12 col-md-6 mb-3">
				<label for="product-category">Catégorie</label>
				<select name="category_id" id="product-category" class="form-control" value="{{product.category}}">
					{% for category in getCategories() %}
						<option value="{{ category.id }}">{{ category.name }}</option>
					{% endfor %}
				</select>
				<small id="product-categoryMessage"></small>
			</div>
			<div class="col-12 col-md-6 mb-3">
				<label for="product-stock">Stock</label>
				<input type="number" id="product-stock" name="stock" class="form-control" value="{{product.stock}}">
				<small id="product-stockMessage"></small>
			</div>
			<div class="col-12 mb-3">
				<label for="product-description">Description</label>
				<textarea rows="8" id="product-description" name="description" class="form-control" value="{{product.description}}">{{product.description}}</textarea>
				<small id="product-descriptionMessage"></small>
			</div>

			<button type="submit" class="btn btn-primary col-5 my-3">enregistrer</button>
		</form>
	</div>
	{% block javascripts %}
		<script src="/assets/javascript/product-update-form.js"></script>
	{% endblock %}
{% endblock %}
